:root {
  --font-family: "Calibri", sans-serif;
  --primary-bg-color: #c5c5c535;
  --primary-text-color: rgb(67, 67, 67);
  --secondary-bg-color: #566a87;
  --secondary-text-color: white;
  --highlight-bg-color: rgb(255, 255, 0);
  --today-bg-color: rgb(188, 42, 42);
  --search-bg-color: #e2e2e2;
  --search-btn-bg-color: #c42222;
  --search-btn-hover-bg-color: #9b1a1a;
  --reset-btn-bg-color: #009ac0;
  --reset-btn-hover-bg-color: #006680;
  --print-btn-bg-color: #279250;
  --print-btn-hover-bg-color: #1c6839;
  --table-bg-color: #ffffff;
  --cell-bg-color: rgba(237, 237, 237, 0.4);
  --hover-cell-bg-color: rgba(211, 208, 208, 0.9);
  --hover-column-bg-color: rgba(237, 237, 237, 0.5);
  --header-border-color: black;
  --header-bg-color: #eee;
  --hidden-div-bg-color: rgb(217, 82, 82);
  --header-font-size: 20px;
  --sub-header-font-size: 18px;
  --table-font-size: 12px;
  --title-font-size: 16px;
  --nav-button-font-size: 12px;
}

/* General Resets and Base Styles */
* {
  font-family: var(--font-family);

}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

/* Sticky Container */
#sticky-container {
  display: flex;
  padding: 10px;
  background-color: var(--primary-bg-color);
  position: sticky;
  z-index: 1000;
  top: 0;

}

#table-wrapper {
  width: 100%;
  overflow: auto;
  z-index: 90;
  height: calc(100vh - 100px);
  /* Adjust to account for sticky container height */
  overflow-y: auto;
  /* Only vertical scrollbar for the table */
}

/* Navigation Buttons */
#navButtons {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
  /* Allow buttons to grow */
  flex-shrink: 1;
  /* Allow buttons to shrink */
}

#navButtons button {
  font-size: var(--nav-button-font-size);
  padding: 10px 10px;
  cursor: pointer;
  background-color: var(--search-btn-bg-color);
  color: var(--secondary-text-color);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease, transform 0.3s ease;
}

#navButtons button:hover {
  background-color: var(--search-btn-hover-bg-color);
  transform: translateY(-1px);
}

#navButtons .print_button {
  background-color: var(--print-btn-bg-color);
  color: rgb(255, 255, 255);
}

#navButtons .print_button:hover {
  background-color: var(--print-btn-hover-bg-color);
}

/* Table Title */
#table-title {
  text-align: center;
  font-size: var(--title-font-size);
  font-weight: bold;
  margin-top: 10px;
  color: var(--primary-text-color);
  margin: 10px auto;
  /* Center title horizontally */
  flex-grow: 5;
  /* Allow title to take available space */

}


/* Search Container */
#searchContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
  /* Pushes search container to the end */

}

/* Filter Column */
#filterColumn {
  height: 40px;
  color: #000;
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23000" height="24" viewBox="0 0 24 24" width="24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat right 8px center;
  background-color: var(--search-bg-color);
  padding: 10px;
  border: none;
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;
  /* Ensure padding is included in width */
  transition: width 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  /* Smooth transition for width, background color, and box shadow */
}

#searchInput {
  flex: 1;
  padding: 5px;
  border: none;
  height: 30px;
  color: #000;
}

#searchButton {
  height: 40px;
  padding: 0 10px;
  cursor: pointer;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23fff" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21.6 20.2l-3.5-3.5c.8-1.2 1.3-2.7 1.3-4.2 0-4.4-3.6-8-8-8s-8 3.6-8 8 3.6 8 8 8c1.5 0 3-0.5 4.2-1.3l3.5 3.5c0.4 0.4 1 0.4 1.4 0s0.4-1 0-1.4zM4 12c0-3.3 2.7-6 6-6s6 2.7 6 6-2.7 6-6 6-6-2.7-6-6z"/></svg>') no-repeat center;
  background-color: var(--search-btn-bg-color);
  background-size: 50%;
  border: none;
  border-radius: 0 3px 3px 0;
  min-width: 40px;
}

#searchButton:hover {
  background-color: var(--search-btn-hover-bg-color);
}

#resetButton {
  font-size: var(--nav-button-font-size);
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--reset-btn-bg-color);
  color: var(--secondary-text-color);
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.1s ease;
  flex-grow: 1;
  /* Allow buttons to grow */
  flex-shrink: 1;
  /* Allow buttons to shrink */
}

#resetButton:hover {
  background-color: var(--reset-btn-hover-bg-color);
  transform: translateY(-1px);
}

/* Table Styles */
#schedule {
  background-color: var(--table-bg-color);
  border-collapse: collapse;
  width: 100%;

}


/* Header and Cell Styles */
.head-row {
  font-size: var(--table-font-size);
  height: 40px;
  position: sticky;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  z-index: 800;
  top: 0;
  /* Stick to the top of the container */

}

.head-cell {
  min-width: 90px;
  padding: 2px;
}

.body-cell {
  font-size: var(--table-font-size);
  height: 30px;
  text-align: center;
}

.head-cell.special-column,
.body-cell.special-column {
  min-width: 45px;
  padding: 5px;
  background-color: #354156;
  color: var(--secondary-text-color);
  z-index: 9;
  position: sticky;

}

/* Sticky Column 1 */
.head-cell.special-column:nth-child(1),
.body-cell.special-column:nth-child(1) {
  left: 0;
  /* Fixed position for the first column */
}

.head-cell.special-column:nth-child(2),
.body-cell.special-column:nth-child(2) {
  left: 55px;
  position: sticky;


}

.body-row--today {
  background-color: var(--today-bg-color);
  color: var(--secondary-text-color);
}

.body-row:hover:not(.body-row--today) {
  background-color: var(--cell-bg-color);
}




/* Ensure hover effects do not apply to highlighted cells */
.body-cell.highlight:hover {
  background-color: var(--highlight-bg-color);
}

.body-cell.hovered-cell:not(.highlight):not(:nth-child(1)):not(:nth-child(2)) {
  background-color: var(--hover-cell-bg-color);
}

.body-cell.hovered-column:not(.highlight) {
  background-color: var(--hover-column-bg-color);
}

/* Highlight Styles */
.highlight {
  background-color: var(--highlight-bg-color);
}

.body-row--today .body-cell.highlight {
  color: black;
  /* Ensure text is black in highlighted cells that are in today's row */
}

/* Print Table Styles */
.hidden_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--hidden-div-bg-color);
}

.hidden {
  display: none;
}

.hidden_div img {
  width: 40%;
}

.hidden_div .print_table {}

#page_header {
  width: 100%;
  text-align: center;
  font-size: var(--header-font-size);
}

.hidden_div .header {
  text-align: left;
  font-size: var(--sub-header-font-size);
  background-color: black;
  color: white;
}

.hidden_div .rota_table {
  width: 90%;
  text-align: left;
  margin: 5px;
}

.hidden_div table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

.hidden_div th,
.hidden_div td {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 14px;
}

.hidden_div th {
  background-color: var(--header-bg-color);
  font-weight: bold;
}


/* For Mobile View */
/* For Mobile View */
@media (max-width: 768px) {
  #sticky-container {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
  }

  #table-wrapper {
    position: relative;
    margin-top: 0;
    width: 100%;
    overflow: auto;
    z-index: 90;
    box-sizing: border-box;
    background-color: #fff;
  }

  #table-title {
    order: 1;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px !important;
  }



  #navButtons {
    order: 2;
    width: 100%;
    justify-content: center;
    font-size: 5px !important;
    gap: 5px;
  }

  #navButtons button {
    font-size: 11px;
    /* Smaller font size */
    padding: 8px 5px;
    /* Smaller padding */
    width: 80px;
    /* Smaller width */
  }

  #searchContainer {
    display: none;
  }

  .head-row {
    top: 0;
    /* Ensure sticky positioning works in mobile */
    z-index: 800;
    /* Ensure it's above content */
  }

  /* Adjust padding for mobile view */
  .head-cell {
    padding-top: 2px !important;
    /* Smaller padding for headers */
  }

  .body-cell {
    padding-top: 2px !important;
    /* Smaller padding for cells */
  }

  .head-cell.special-column,
  .body-cell.special-column {
    padding-top: 1px !important;
    /* Smaller padding for special columns */
  }