/* Common styles for header and body cells */
.head-cell,
.body-cell,
.head-row {
  padding: 6px;
  text-align: center;
  white-space: nowrap;
  font-family: Calibri, sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

/* Header row styles */
.head-row {
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #354156;
  overflow: visible;
}


/* Header cell styles */
.head-cell:nth-child(1),
.head-cell:nth-child(2) {
  min-width: 70px;
  max-width: 70px;
  width: 70px;
}


.head-cell:first-child {
  position: sticky;
  left: 0;
  z-index: 9;
}

.head-cell:nth-child(2) {
  position: sticky;
  left: 82px !important;
  z-index: 8;
}


.head-cell {
  background-color: #354156;
  min-width: 100px;
  max-width: 100px;
  width: 100px;
}


/* Body row styles */
.body-row {
  background-color: #fff;
  color: #000;
}

/* Body cell styles */
.body-cell {
  font-size: 12px;
  font-weight: normal;
  color: #000;
  position: relative;
  cursor: default;
  height: 30px;
}

.body-cell:first-child {
  position: sticky;
  left: 0;
  z-index: 9;
  background-color: #4f607e;
  color: white;
}


.body-cell:nth-child(2) {
  position: sticky;
  left: 82px !important;
  z-index: 8;
  background-color: #4f607e;
  color: white;
}

.body-cell:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 5px; /* Adjust the width of the shadow as needed */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
}

/* Set fixed width for the first two columns */
.body-cell:nth-child(1),
.body-cell:nth-child(2) {
  min-width: 70px;
  max-width: 70px;
  width: 70px;
}

/* Today row styles */
.body-row--today,
.body-row--today .body-cell {
  background-color: rgb(164, 46, 46)!important;
  color: #fff;
}

/* Highlight styles */
.highlight {
  background-color: yellow;
}

/* Hover effect for header and body cells */
.body-row:hover,
.body-cell:hover {
  background-color: rgba(237, 237, 237, 0.4); /* Change the background color on hover */
}

/* Hover effect for header and body cells when hovered */
.hovered-cell{
  background-color: rgba(211, 208, 208, 0.9)!important; /* Change the background color when hovered */
}

/* Hover effect for entire column */
.hovered-column{
  background-color: rgba(237, 237, 237, 0.5); /* Change the background color for the entire column when hovered */
}

/* Smooth transition for hover effects */
.body-row,
.body-cell {
  transition: background-color 0.3s ease-in-out; /* Add a smooth transition effect */
}




/* Smooth transition for hover effects */
.body-row,
.body-cell {
  transition: background-color 0.3s ease-in-out; /* Add a smooth transition effect */
}



/* Sticky container styles */
#sticky-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding: 10px;
  z-index: 100;
  width: 100%;
  font-family: Calibri, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Add overflow: auto to the table wrapper */
#table-wrapper {
  margin-top: 120px;
  max-height: calc(100vh - 130px);
}

/* Your existing table styles */
#schedule {
  border-collapse: collapse;
  border: 0;
}


/* Style every even row 
.body-row:nth-child(even) {
  background-color: #f8f8f8;
}*/

/* BUTTON DESIGNS */

#previousWeeksButton,
#nextWeeksButton {
  order: -1; /* Move the buttons to the start of the flex container */
}

#sticky-container button,
#sticky-container input,
#sticky-container select {
  margin: 5px;
  padding: 10px; /* Slightly wider padding */
  border: 1px solid #ccc; /* Subtle border */
  border-radius: 4px;
  font-size: 14px;
}

#searchInput {
  flex-grow: 1;
}

label {
  color: #555; /* Subtle text color for labels */
  margin-right: 5px;
}

#resetButton {
  background-color: #3498db; /* Blue color for the reset button */
  color: #fff;
  cursor: pointer;
}

#resetButton:hover {
  background-color: #2980b9; /* Darker shade on hover */
}
